//Globals Value
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

//Setting box
.setting-box {
    width: 15%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    transform: translateX(-100%);
    transition-duration: 1s;
    z-index: 100;


    .coulours {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #80808045;

        padding: {
            left: 8%;
            right: 8%;
        }

        h2 {
            text-transform: capitalize;
            text-align: center;
        }

        .content-coulours {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 12%;
                height: 30%;
                margin-left: 5%;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                &#blue {
                    background-color: #2d82b5;
                }

                &#red {
                    background-color: #ff0000;
                }

                &#green {
                    background-color: #6cc556;
                }

                &#violet {
                    background-color: #c800ffc3;
                }

                &#pink {
                    background-color: #f04393
                }
            }
        }
    }

    .Random-background {
        @extend .coulours;

        h2 {
            font-size: 15px;
        }

        .content-background {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 30%;
                height: 30%;
                background-color: #053aea80; //
                border: none;
                border-radius: 10px;
                cursor: pointer;
                color: #fff;
                text-transform: capitalize;

                &#non {
                    visibility: hidden;
                }
            }
        }
    }

    #ok {
        width: 80%;
        height: 5%;
        margin-left: 10%;
        background-color: #0000f4;
        border-radius: 10px;
        color: #fff;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
    }

    @media (max-width:767px) {
        .coulours {
            h2 {
                font-size: 12px;
            }

            .content-coulours {
                button {
                    height: 20%;
                    background-color: red;
                }
            }
        }

        .Random-background {
            h2 {
                font-size: 10px;
            }

            .content-background {
                button {
                    font-size: 10px;
                    height: 20%;
                }
            }


        }
    }
}

//Start Landing
.landing-page {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 2s;

    .dark {
        width: 100%;
        height: 100%;
        background-color: #00000082;

        padding: {
            left: 8%;
            right: 8%;
        }

        .side-bar {
            width: 100%;
            height: 10%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            h1 {
                text-transform: capitalize;
                color: #fff;
            }

            .links {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                img {
                    visibility: hidden;
                    cursor: pointer;
                }

                ul {
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    li {
                        a {
                            padding: 5% 10%;
                            cursor: pointer;
                            border-radius: 20px;
                            text-transform: capitalize;
                            color: #fff;

                            &:hover {
                                background-color: #ffa500;
                            }

                            &:active {
                                color: #ffff00;
                            }
                        }
                    }
                }
            }


        }

        .content-landing {
            width: 100%;
            height: 80%;
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            h1 {
                text-transform: capitalize;
                letter-spacing: 1.2px;
                margin-bottom: 2%;
                color: #fff;

                span {
                    color: #ffa500;
                }
            }

            p {
                width: 80%;
                text-align: center;
                color: #ffffff79;


                &::first-letter {
                    text-transform: capitalize;
                    line-height: 2;
                }
            }

            #menu-link {
                position: absolute;
                top: 0%;
                left: 100%;
                transform: translateX(-100%);
                display: none;
                background-color: gray;
                width: 25%;
                border-radius: 10px;

                ul {
                    li {
                        margin-bottom: 5%;
                        text-align: center;

                        &:hover {
                            background-color: #ffa500;
                        }

                        &:active {
                            color: #ffff00;
                        }

                        a {
                            text-transform: capitalize;
                            color: #fff;
                        }
                    }
                }
            }
        }

        @media (max-width:767px) {
            .side-bar {
                h1 {
                    font-size: 25px;
                }

                .links {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-between;

                    img {
                        visibility: visible;
                    }

                    ul {
                        visibility: hidden;
                    }
                }
            }

            .content-landing {
                position: relative;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 10px;
                }
            }
        }
    }
}

//About Us
.About {
    width: 100%;
    height: 350px;

    padding: {
        left: 8%;
        right: 8%;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .text {
        width: 50%;

        h1 {
            color: #ffa500;
            text-transform: capitalize;
            margin-bottom: 5%;
        }

        p {
            line-height: 1.5;
        }
    }

    img {
        width: 20%;
        animation-name: image-about;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes image-about {
        0% {
            transform: translateY(-20%);
        }

        50% {
            transform: translateY(0%);
        }

        100% {
            transform: translateY(20%);
        }
    }

    @media (max-width:767px) {
        .text {
            h1 {
                font-size: 20px;
            }
        }

        p {
            font-size: 12px;
        }

    }
}

//Skills
.Skills {
    width: 100%;
    height: 550px;
    background-color: #80808047;

    padding: {
        left: 8%;
        right: 8%;
    }

    h1 {
        text-transform: capitalize;
        color: #ffa500;
        text-align: center;
        padding-top: 2%;
    }

    .Skills-content {
        width: 100%;
        height: 80%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >div {
            width: 80%;
            height: 10%;
            background-color: #fff;
            margin-bottom: 1%;
            padding: 0.8%;
            display: grid;
            grid-template-columns: 15% 85%;
            grid-template-rows: 100%;

            span {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                padding-top: 3%;
            }

            >div {
                background-color: #808080;

                >div {
                    background-color: #ffa500;

                    &#html {
                        width: 80%;
                        height: 100%;
                    }

                    &#css {
                        width: 90%;
                        height: 100%;
                    }

                    &#js {
                        width: 85%;
                        height: 100%;
                    }

                    &#php {
                        width: 55%;
                        height: 100%;
                    }

                    &#python {
                        width: 60%;
                        height: 100%;
                    }

                    &#mysql {
                        width: 40%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

//Gallery
.Gallery {
    width: 100%;
    height: 500px;
    background-color: #fff;


    padding: {
        left: 8%;
        right: 8%;
    }

    h1 {
        color: #ffa500;
        text-transform: capitalize;
        text-align: center;
        padding-top: 1%;
    }

    .image {
        width: 100%;
        height: 100vh;
        background-color: #0000008f;
        position: absolute;
        z-index: 30;
        left: 0%;
        visibility: hidden;

        #delete {
            width: 2.5%;
            height: 5%;
            color: #000;
            background-color: #fff;
            border: none;
            position: absolute;
            top: 25%;
            left: 75%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 100;
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        img {
            width: 50%;
            height: 50%;
            border: 10px #fff solid;
            transform: translate(-50%, -50%);
            position: absolute;

            margin: {
                top: 25%;
                left: 50%;
            }

        }
    }

    .Gallery-content {
        width: 100%;
        height: 80%;
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;



        >img {
            width: 22%;
            height: 28%;
            border: 5px #00000030 solid;

            margin: {
                bottom: 1%;
                right: 1%;
            }
        }
    }
}

//Testing
.testing {
    width: 100%;
    height: 700px;
    background-color: #80808053;

    padding: {
        left: 8%;
        right: 8%;
        top: 4%;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .left {
        width: 40%;
        height: 100%;


        >div {
            width: 100%;
            height: 22%;
            margin-bottom: 2%;
            background-color: #fff;
            position: relative;

            padding: {
                left: 5%;
                right: 5%;
                top: 2%;
            }

            h3 {
                color: #ffa500;
                text-transform: capitalize;
                margin-bottom: 1%;
            }

            p {
                font-size: 14px;
            }

            &.two-left {
                visibility: hidden;
            }

            &.one-left {
                &::before {
                    top: 17%;
                    border-color: transparent transparent transparent #fff;
                    border-width: 20px 50px;
                    border-style: solid;
                }
            }

            &.three-left {
                &::before {
                    top: 10%;
                    border-color: transparent transparent transparent #fff;
                    border-width: 20px 50px;
                    border-style: solid;
                }
            }

            &.fore-left {
                &::before {
                    top: 17%;
                    border-color: transparent transparent transparent #fff;
                    border-width: 20px 50px;
                    border-style: solid;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 100%;

            }
        }
    }

    .right {
        width: 40%;
        height: 100%;

        >div {
            width: 100%;
            height: 22%;
            margin-bottom: 2%;
            background-color: #fff;
            position: relative;

            padding: {
                left: 5%;
                right: 5%;
                top: 2%;
            }

            h3 {
                color: #ffa500;
                text-transform: capitalize;
                margin-bottom: 1%;
            }

            p {
                font-size: 14px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0%;
                top: 14%;
                transform: translateX(-100%);
                border-color: transparent #fff transparent transparent;
                border-width: 20px 50px;
                border-style: solid;
            }

            &.one-right {
                visibility: hidden;
            }

            &.three-right {
                @extend .one-right;
            }

            &.fore-right {
                @extend .one-right;
            }
        }
    }

    .half {
        width: 0.2%;
        height: 100%;
        background-color: #ffa500;
        position: relative;

        #anne1 {
            width: fit-content;
            height: fit-content;
            background-color: #ffa500;
            color: #fff;
            position: absolute;
            top: 1%;
            transform: translateX(-50%);
            padding: 1px 5px;
            border-radius: 10%
        }

        #anne2 {
            @extend #anne1;
            top: 45%;
        }

        #circle1 {
            width: 20px;
            height: 20px;
            border: 2px #ffa500 solid;
            background-color: #fff;
            border-radius: 50%;
            transform: translateX(-40%);
            position: absolute;
            z-index: 3;
            top: 5%;
        }

        #circle2 {
            @extend #circle1;
            top: 28%;
        }

        #circle3 {
            @extend #circle1;
            top: 50%;
        }

        #circle4 {
            @extend #circle1;
            top: 75%;
        }
    }

    @media (max-width:767px) {

        .left,
        .right {
            >div {
                h3 {
                    font-size: 12px;
                }

                p {
                    font-size: 8px;
                }

                &::before {
                    border-width: 8px 10px;
                    top: 26%;
                }
            }
        }

        .left {
            >div {
                &.one-left::before {
                    border-width: 8px 10px;
                    top: 26%;
                }

                &.three-left::before {
                    border-width: 8px 10px;
                    top: 26%;
                }

                &.fore-left::before {
                    border-width: 8px 10px;
                    top: 35%;
                }
            }
        }

        .half {

            #anne1,
            #anne2 {
                font-size: 10px;
            }
        }
    }
}

//Features
.features {
    width: 100%;
    height: 650px;
    background-color: #fff;

    padding: {
        left: 8%;
        right: 8%;
    }

    h1 {
        text-align: center;
        color: #ffa500;
        text-transform: capitalize;
        padding-top: 1%;
    }

    .features-content {
        width: 100%;
        height: 80%;
        margin-top: 1%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(2, 45%);
        column-gap: 5%;
        row-gap: 5%;

        >div {
            background-color: #fff;

            padding: {
                left: 8%;
                right: 8%;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 35%;
                height: 40%;
                margin-bottom: 5%;
            }

            h3 {
                margin-bottom: 2%;
                text-transform: capitalize;
            }

            #line1 {
                width: 15%;
                height: 1.5%;
                background-color: #ffa500;
                margin-bottom: 3%;
            }

            #line2 {
                @extend #line1;
            }

            #line3 {
                @extend #line1;
            }

            #line4 {
                @extend #line1;
            }

            #line5 {
                @extend #line1;
            }

            #line6 {
                @extend #line1;
            }

            p {
                color: #808080;
                font-size: 15px;
                text-align: center;

                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }

        @media (max-width:767px) {
            display: grid;
            grid-template-columns: repeat(2, 45%);
            grid-template-rows: repeat(3, 30%);
            column-gap: 5%;
            row-gap: 5%;

            >div {
                h3 {
                    font-size: 15px;
                }

                p {
                    font-size: 10px;
                }
            }
        }
    }
}

//testimonials
.testimonials {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(to right, #ffa500 50%, #000 50%);
    padding-top: 3%;

    padding: {
        left: 8%;
        right: 8%;
    }

    h1 {
        margin-bottom: 2%;
        text-transform: capitalize;
        color: #fff;
    }

    .testimonials-content {
        width: 100%;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: 100%;
        column-gap: 2%;
        justify-content: space-between;

        >div {
            background-color: #fff;
            grid-template-columns: 100%;
            grid-template-rows: 60% 40%;
            padding: 2% 4%;

            p {
                font-size: 15px;
                color: #808080;
                font-style: italic;
                margin-bottom: 5%;
            }

            .profil {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                img {
                    width: 18%;
                    border-radius: 50%;
                    margin-right: 2%;
                }

                .info {
                    h5 {
                        text-transform: capitalize;
                    }

                    p {
                        text-transform: capitalize;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    @media (max-width:767px) {
        height: 500px;

        .testimonials-content {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, 30%);
            row-gap: 3%;

            >div {
                p {
                    margin-bottom: 2%;
                }

                .profil {
                    img {
                        width: 10%;
                    }
                }
            }
        }
    }
}

//contact
.contact {
    width: 100%;
    height: 500px;
    background-color: #fff;

    padding: {
        left: 8%;
        right: 8%;
    }

    h1 {
        text-align: center;
        text-transform: capitalize;
        padding-top: 2%;

        color: #ffa500;
    }

    .contact-content {
        width: 100%;
        height: 60%;

        padding: {
            top: 2%;
            left: 12%;
            right: 12%;
        }

        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .left {
                width: 45%;
                height: 100%;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: repeat(4, 25%);

                input {
                    margin-bottom: 5%;
                    padding-left: 5%;
                    background-color: #80808016;
                    border: none;

                    &::placeholder {
                        text-transform: capitalize;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }

            .right {
                @extend .left;
                grid-template-rows: 75% 25%;

                textarea {
                    margin-bottom: 5%;
                    padding-left: 5%;
                    padding-top: 5%;
                    background-color: #80808016;
                    border: none;

                    &::placeholder {
                        text-transform: capitalize;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }

                input {
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #ffa500;
                    border: none;
                    border-radius: 5px;
                }
            }

            @media (max-width:767px) {
                flex-direction: column;
            }
        }

    }
}

//footer
.footer {
    background-color: #000000ca;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.3em;
    word-spacing: 0.5em;
}